@font-face {
  font-family: police1;
  src: url("fonts/Helvetica.ttf")
}



body {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(83, 83, 83);
  
}

.section {
  height: auto;
  overflow-y: auto; 
}

.section-left,
.section-right,
.section-center {
  transition: flex 0.5s ease;
}

.section-left, .section-right {
  flex: 0.4; 
  padding-top: 12px; 
}

.section-left {
 
  font-family: police1;
  margin: 10px;
  margin-bottom: 10px;
}

.section-left p {
  font-size: 1vw;
  width: 96%;
  font-family: police1;
}

.section-right{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  top: 0;
  font-family: police1;
}
.section-right p {
  font-size: 1vw;
  width: 96%;
  font-family: police1;
}


.section-center {
  flex: 0.2; 
  display: flex;
  flex-direction: column;
  background-color:  rgb(238, 238, 238);
  position: relative; 
  overflow: hidden; 
}

.buttons {
  display: flex; 
  color:rgb(255, 255, 255);
  gap: 10px; 
  width: 100%; 
  
  position: absolute; 
  top: 1px; 

}

.buttons button {
  color:rgb(44, 44, 44);
  padding: 5px ;
  font-size: 1.3vw; 
  margin-top: 15px;
  height: 15%;
  cursor: pointer; 
  flex: 1; 
  white-space: nowrap; 

  
}

.buttons button:hover{
  color:rgb(0, 0, 0);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  
}

.contact{
   display: flex; 
   color:rgb(255, 255, 255);
   gap: 10px; 
   width: 100%; 
   position: absolute; 
   bottom: 0;  
}
.contact p{
  text-align: center;
  color:rgb(44, 44, 44);
  font-size: 1.3vw; 
  cursor: pointer; 
  flex: 1; 
  white-space: nowrap; 
}
.contact p:hover{
  color:rgb(0, 0, 0);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.container {
  display: flex; 
  height: 100vh;
  overflow: hidden;
}

#h2{
  
  font-size: 1.2vw;
  font-family: police1;
  color: rgb(83, 83, 83);
}
.info{
  color: rgb(173, 173, 173);
  font-size: 1vw;
  text-align: right;
}

.bloc2 a{
text-decoration: none;
color: rgb(173, 173, 173);
font-style: italic;

}

.bloc2 a:hover{
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-style: italic;
  }

.section-top {
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%;
  height: auto;
  background-color: transparent; 
  z-index: 10000; 
  display: flex;
  align-items: left; 
  justify-content: left; 
 
}

.section-top p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 1.4vw;
 
}

.menu img{
  width: 15px;
  height: 15px;
  margin-left: 0.4vw;
  margin-top: 0.1vw;
}
  
nav.menu {
      position: sticky;
      top: 0;
      margin-left: 1vw;
      display: inline-block;
      height: 10px;
      font-style: italic;  
}


 #phone{
   display: none;
 }
 

 .overlay2 {


  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; 
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 10px; 
  box-sizing: border-box; 
  z-index: 1000; 
  color: rgb(83, 83, 83);
  background-color:  rgb(238, 238, 238);
}
.overlay-content2 {
  padding-left: 10px;
  position: relative;
  text-align: left;
}
.overlay-content2 a{
  font-size:  1.1vw;
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.overlay-content2 a:hover{
  font-size:  1.1vw;
  text-decoration: none;
  color: rgb(189, 189, 189);
  font-style: italic;
}
.overlay-content2 p{
  font-size: 1.1vw;
  color: rgb(83, 83, 83);
}

.close2 {
  position: absolute;
  margin-top: 5vh;
  width: 20vw;
  height:95vh;
  font-size: 2vw;
  color: rgba(155, 155, 155,0); 
}


nav.menu {
  position: sticky;
  top: 0;
  margin-left: 1vw;
  display: flex;
  height: 10px;
  font-style: italic;   
  color: rgb(83, 83, 83);
  text-decoration: none;
}

#titre{
  color: black;
  text-decoration: none;
  font-family: police1;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;

}

.slick-prev{
  z-index: 50;
  position: absolute;
  background-color: transparent;
  color: transparent;
  left: 0%;
  top: 50%;
  transform: translate(-0%, -50%);
  width: 50%;
  height: 100%;
  border: none;
  cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDBweCIgaGVpZ2h0PSIyNnB4IiB2aWV3Qm94PSIwIDAgNDAgMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQxLjEgKDM1Mzc2KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSJTaGFwZSIgZmlsbD0iIzAwMDAwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAuMDAwMDAwLCAxMi44MDIwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTIwLjAwMDAwMCwgLTEyLjgwMjAwMCkgIiBwb2ludHM9IjI3LjE5OCAyNS42MDQgMzkuNDk0IDEzLjMwOCA0MCAxMi44MDIgMzkuNDk0IDEyLjI5NiAyNy4xOTggMCAyNi4xODUgMS4wMTIgMzcuMjYgMTIuMDg2IDAgMTIuMDg2IDAgMTMuNTE4IDM3LjI2IDEzLjUxOCAyNi4xODUgMjQuNTkyIj48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg=="), auto;
}


.slick-next{
  z-index: 50;
  position: absolute;
  background-color:transparent;
  color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-0%, -50%);
  width: 50%;
  height: 100%;
  border: none;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDAnIGhlaWdodD0nMjYnIHZpZXdCb3g9JzAgMCA0MCAyNicgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMjcuMTk4IDI2LjYwNGwxMi4yOTYtMTIuMjk2LjUwNi0uNTA2LS41MDYtLjUwNkwyNy4xOTggMWwtMS4wMTMgMS4wMTJMMzcuMjYgMTMuMDg2SDB2MS40MzJoMzcuMjZMMjYuMTg1IDI1LjU5MnonLz48L3N2Zz4K"), auto;
}

.your-class {
  width: 100%; 
  height: auto;
  margin: 0; 
  padding: 0; 
  text-align: center;
}

.your-class img {
  width: 100%; 
  height: auto;
  margin: 0; 
  padding: 0; 
  text-align: center;
}


#inf p{
  font-size: 1.2vw;
  display: inline-block;
  margin: 3vw;
  margin-top: 1vw;
  font-family: police1;
}

#inf p span{
 font-size: 1.8vw;
 font-family: police1;
}

.explication{
width : 48vw;
text-align: justify;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: rgb(0, 0, 0);
  z-index: 10000;
  border: 2px solid rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  transition: all 200ms ease-out;
}



@media (max-width: 850px) {

  .section-center  {
    display: none!important;
  }
  .buttons{
    display: none!important;
  }
  .section-right{
    display: none!important;
  }
 #phone{
  display:block!important;
}



 
  .section-left {
    margin: 0;
    padding: 0;
    flex: none; 
    width: 100%; 
    height: auto; 
  }


  .your-class {
    width: 100%;
  }

  
  .your-class img, 
  .your-class video {
    width: 100%;
    height: auto; 
  }

  
  .section {
    width: 100%; 
  }

  .section-left p {
    width: 100%;
    font-family: police1;
    font-size: 2.5vw;
  }
  .section-top p {
    font-size: 3.5vw;
  }
  .section-top {
    height: auto;
  }
  
 
  #h2{
    font-size: 3vw;
    width: 80%;
  }

   .explication {
    display:block; 
    text-align: justify;
    font-size: 2.1vw;
  } 

  body {
    margin: 15px;
     
    }
}


@media screen and (orientation: portrait) {  


  .section-center  {
    display: none!important;
  }
  .buttons{
    display: none!important;
  }

  .section-right{
    display: none!important;
  }


 #phone{
  display:block!important;
}


 
  .section-left {
    margin: 0;
    padding: 0;
    display: block; 
    flex: none; 
    width: 100%; 
    height: auto; 
  }


  .your-class {
    width: 100%;
  }

  
  .your-class img, 
  .your-class video {
    width: 100%;
    height: auto; 
  }

  
  .section {
    display: block; 
    width: 100%; 
  }

  .section-left p {
    width: 100%;
    font-family: police1;
    font-size: 2.5vw;
  }
  .section-top p {
  
    font-size: 3.5vw;
  }
 
  #h2{
    font-size: 3vw;
    width: 80%;
  }

   .explication {
    display:block; 
    text-align: justify;
    font-size: 2.1vw;
  } 

  body {
    margin: 15px;
     
    }

}